# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment variables (مهم جداً)
.env

# Logs
*.log

# Temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# Uploaded / generated images
*.png
*.jpg
*.jpeg

# IDE
.vscode/
.idea/

# Railway (optional)
*.sqlite3
